html {
    position: relative;
    min-height: 100%;
    text-decoration: none;
}

* {
    word-wrap:break-word;
}

img {
    max-width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.list-books .properties {
    margin: 0 12px
}

.list-books .properties:first-child {
    margin-left: 0
}

.list-books .properties:last-child {
    margin-right: 0;
    margin-left: 0
}

.list-books .properties .properties-card {
    background-color: #fff
}

.list-books .properties .properties-card .properties-img img {
    width: 100%
}

.list-books .properties .properties-card .properties-caption {
    padding: 14px 20px 2px 20px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.list-books .properties .properties-card .properties-caption .properties-title{
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.list-books .properties .properties-card .properties-caption .properties-description{
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.list-books .properties .properties-card .properties-caption.properties-caption2 {
    border: 1px solid #eee1e0;
    border-top: 0
}

.list-books .properties .properties-card .properties-caption h3 a {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #1a1a1a;
    text-decoration: none;
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
    .list-books .properties .properties-card .properties-caption h3 a {
        font-size:16px
    }
}

.list-books .properties .properties-card .properties-caption P {
    color: #9498a7;
    font-size: 14px;
    margin-bottom: 11px
}

.list-books .properties .properties-card .properties-caption P span {
    color: #ff1616;
    font-size: 16px
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    .list-books .properties .properties-card .properties-caption P span {
        font-size:12px
    }
}

.list-books .properties .properties-card .properties-caption .properties-footer {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

@media (max-width: 575px) {
    .list-books .properties .properties-card .properties-caption .properties-footer {
        padding:19px 10px 20px 12px
    }
}

.list-books .properties .properties-card .properties-caption .properties-footer .review .rating i {
    font-size: 10px;
    color: #ff5700
}

.list-books .properties .properties-card .properties-caption .properties-footer .review p {
    display: inline-block;
    color: #9498a7;
    font-size: 14px
}

.list-books .properties .properties-card .properties-caption .properties-footer .review p span {
    color: #ff7b2e;
    font-size: 12px
}

.list-books .properties .properties-card .properties-caption .properties-footer .price span {
    cursor: pointer;
    font-weight: 500;
    color: #ff1616;
    font-size: 20px
}

.list-books .properties:hover .properties-caption {
    box-shadow: 0 15px 30px rgba(255,22,22,.1)
}

.list-books .properties:hover .properties-caption h3 a {
    color: #ff1616
}

.product-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-quantity {
    max-width: 70px;
}

/* Cart Css */

.cart-details .cart-details-header .cart-header {
    max-height: 45px;
    margin-bottom: 20px;
    padding-bottom: 20px!important;
    border-bottom: 2px solid #e5e5e5
}

.cart-details .cart-details-header .cart-header>h3 {
    font-size: 16px;
    font-weight: 600
}

.cart-details .cart-content .cart-item-list>.row {
    margin-bottom: 40px
}

.cart-details .cart-content .cart-item-list>.row:last-child {
    padding-bottom: 20px;
    border-bottom: 2px solid #e5e5e5
}

.cart-details .continue-shopping-btn {
    max-width: 156px;
    margin-top: 20px;
    margin-left: 15px
}

.cart-details .coupon-container {
    margin-top: 20px
}


.order-summary-container {
    top: 50px;
    padding-top: 25px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: sticky!important;
}

.order-summary-container>div {
    width: 100%
}

.order-summary-container .order-summary {
    padding: 25px 30px;
    border: 1px solid #e5e5e5
}

.order-summary-container .order-summary>h3 {
    margin-bottom: 20px
}

.order-summary-container .order-summary>.row:not(:last-child) {
    margin-bottom: 10px
}

.order-summary-container .order-summary #grand-total-detail {
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 25px;
    border-top: 1px solid #e5e5e5
}

.order-success-content {
    padding: 40px 20px;
    font-size: 16px
}

/* admin dashboard */
.style-image {
    height: 100px;
    width: 100px;
}

.btn-action {
    width: 100px;
}
